<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Add Admin User</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center">
    <form [formGroup]="addAdminUser" (ngSubmit)="submit()">
        <ion-item>
            <ion-icon class="call_icon" name="person"></ion-icon>
            <ion-input placeholder="Name" formControlName="name"></ion-input>
        </ion-item>
        <span class="required" *ngIf="addAdminUser.get('name').touched && addAdminUser.get('name').invalid ">*Required
            Field</span>
        <ion-item>
            <ion-icon class="call_icon" name="call"></ion-icon>
            <ion-input type="number" placeholder="Mobile No." formControlName="mobileNo"></ion-input>
        </ion-item>

        <span class="required"
            *ngIf="addAdminUser.get('mobileNo').invalid && addAdminUser.get('mobileNo').touched ">*Please enter valid
            Mobile Number!</span>

        <ion-item [hidden]="!rootUserRec">
            <ion-label>Make Root user</ion-label>
            <ion-checkbox color="primary" (ionChange)="makeRootUser($event)"></ion-checkbox>
        </ion-item>

        <div class="add_btn">
            <ion-button shape="round" color="light" (click)="addAdminDetails()" type="submit"
                [disabled]="!addAdminUser.valid">
                <ion-icon class="call_icon" name="add"></ion-icon>
                Add
            </ion-button>
        </div>
    </form>
</ion-content>