<ion-content class="ion-padding ion-text-center ">
  <div class="bg-img">
    <div class="position-mobile">
      <form [formGroup]="loginForm" (ngSubmit)="authenticateUser()">
        <ion-item class="mobile-no">
          <!-- <ion-label position="floating" class="phone-no-label ion-margin-top">Phone Number</ion-label> -->
          <ion-input formControlName="phNo" type="number" id="phoneNumber" placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="loginForm.invalid" shape="round">
          Login
        </ion-button>
      </form>
    </div>
    <div><img src="../../../assets/HO-title.png" /></div>
  </div>
  <div class="phone-no-label bg-white ion-text-center ion-padding">© TechAssembler 2022</div>
</ion-content>