<ion-app>
    <ion-split-pane contentId="id">
        <ion-menu menuId="id" contentId="id" type="overlay">
            <ion-content color="danger">
                <ion-list id="inbox-list">
                    <ion-list-header>Blood Donar App</ion-list-header>
                    <ion-note>blood@donar.com</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let menuDetails of appPages; let i = index">
                        <ion-item (click)="onMenuClick(menuDetails)" color="danger" lines="none" detail="false">
                            <ion-icon slot="start" [md]="menuDetails.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ menuDetails.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="id"></ion-router-outlet>
    </ion-split-pane>
</ion-app>