<ion-header>
    <ion-toolbar color="danger">
        <ion-button slot="start" (click)="onMenuClick()" fill="clear">
            <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <ion-title>
            Admin details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_container display_flex">

        <ion-card mode="ios" class="main_container" *ngFor="let admin of adminList">

            <div class="trash" (click)="deleteAdmin(admin)">
                <ion-item [hidden]="!rootUser">
                    <ion-icon class="hover" slot="end" name="trash"></ion-icon>
                </ion-item>

            </div>
            <section>
                <span class="trash">
                    <span></span>
                    <i></i>
                </span>
            </section>
            <ion-item class="ion-no-border">
                <ion-icon class="icon" name="person" slot="start"></ion-icon>
                <ion-label class="text_container">{{admin?.name}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon class="icon" name="call" slot="start"></ion-icon>
                <ion-label class="text_container">{{admin?.mobileNo.toString().slice(0, 5)+'XXXXX'}}
                </ion-label>
            </ion-item>
            <div class="padding-left10 root-user" *ngIf="admin?.rootUser">* Root User</div>
        </ion-card>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="OpenaddAdminUserModel()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>