<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            <div class="display-flex padding10">
                <ion-icon class="menuIcon" name="menu" (click)="onMenuClick()"></ion-icon>
                <div class="titleText"> Home</div>
            </div>
        </ion-title>
        <div class="searchBar">
            <ion-searchbar showCancelButton="never"></ion-searchbar>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_container display-flex">
        <ion-button color="danger " *ngFor="let entry of form">
            <span class="btn_text"> {{entry.val}}</span>
        </ion-button>
    </div>

    <div *ngIf="selectedSegment=='available'">
        <!-- User Details Card Data -->
        <ng-container *ngFor="let item of availableDonors">
            <app-user-details-card [userInfo]="item"></app-user-details-card>
        </ng-container>
    </div>
    <div *ngIf="selectedSegment=='all'">
        <!-- User Details Card Data -->
        <ng-container *ngFor="let item of allDonors">
            <app-user-details-card [userInfo]="item"></app-user-details-card>
        </ng-container>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNote()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- <ion-list>
        <ng-container *ngFor="let user of userDetails">
            <ion-item (click)="openDonar(user)">
                <ion-label>
                    {{ user.firstName }} {{ user.lastName }}
                </ion-label>
                {{user.dateOfDonation}}
            </ion-item>
        </ng-container>
    </ion-list> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addDonar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>




</ion-content>

<ion-footer mode="ios" class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-segment mode="ios" value="available" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="available">
                <ion-label>Available</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
                <ion-label>All</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>