<ion-header>
    <ion-toolbar color="danger">
        <ion-title class="title">
            Home
        </ion-title>
        <div class="searchBar">
            <ion-searchbar showCancelButton="never"></ion-searchbar>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_container width-100">
        <div class="display-flex">
            <div class="list" *ngFor="let entry of form">
                <span>{{entry.val}}</span>
            </div>
        </div>

        <div>
            <app-user-details-card></app-user-details-card>
        </div>
    </div>
    <!-- <ion-list>
        <ng-container *ngFor="let user of userDetails">
            <ion-item (click)="openNote(user)">
                <ion-label>
                    {{ user.firstName }} {{ user.lastName }}
                </ion-label>
            </ion-item>
        </ng-container>
    </ion-list> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNote()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ng-container *ngFor="let user of userDetails">
            <ion-item (click)="openDonar(user)">
                <ion-label>
                    {{ user.firstName }} {{ user.lastName }}
                </ion-label>
                {{user.dateOfDonation}}
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addDonar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>