<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <div class="display-flex padding10">
                <ion-icon class="menuIcon" name="menu" (click)="onMenuClick()"></ion-icon>
                <div class="titleText"> Home</div>
            </div>
        </ion-title>
        <ion-button slot="end" (click)="refreshData()" fill="clear">
            <ion-icon color="light" name="refresh"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="overlay" [hidden]="!showLoading">
        <div class="lottie-cont">
            <ng-lottie [options]="options">

            </ng-lottie>
        </div>
    </div>

    <div class="main_container display-flex">
        <ion-button class="bG-color" *ngFor="let group of bloodGroupList" (click)="selectedBloodGroup(group)"
            [ngClass]="{'activeColor': selectedBG == group.bG}">
            <span class="btn_text"> {{group.bG}}</span>
        </ion-button>
    </div>

    <div *ngIf="selectedSegment=='available'">
        <div *ngIf="availableDonors?.length > 0">

            <ng-container *ngFor="let item of availableDonors">
                <app-user-details-card [donorInfo]="item" (reload)="_reloadPage($event)"></app-user-details-card>
            </ng-container>
        </div>
        <div *ngIf="!availableDonors?.length" class="no-data">No Donor's Available!</div>
    </div>
    <div *ngIf="selectedSegment=='all'">
        <div *ngIf="allDonors?.length > 0">
            <ng-container *ngFor="let item of allDonors">
                <app-user-details-card [donorInfo]="item" (reload)="_reloadPage($event)"></app-user-details-card>
            </ng-container>
        </div>
        <div *ngIf="!allDonors?.length" class="no-data">No Donor's Available!</div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addDonar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer mode="ios" class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-segment mode="ios" value="available" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="available">
                <ion-label>Available</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
                <ion-label>All</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>