<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" (click)="onMenuClick()" fill="clear">
      <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-title>Who we are - The "HO" </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div><img src="../../../assets/HO-title.png" /></div>


  <ion-text color="primary" class="ion-text-center">
    <h2>“Donating Money Is Great, But Donating Blood Is Even Better.” </h2>
  </ion-text>

  <ion-text class="headeing-1">
    <h3> A small <ion-icon color="dark" name="footsteps"></ion-icon> towards the Blood Donation
      <ion-icon color="primary" name="water"></ion-icon>
      for a <ion-icon color="primary" name="medkit"></ion-icon> healthy cause !...
    </h3>
  </ion-text>
  <ion-text>
    <h4>We aim to bring a positive change through a little help by donating blood.</h4>
  </ion-text>

  <p>
    <ion-text>
      <h5 class="color1">
        <ion-text color="success"> HUMANITY</ion-text> An Organization for Human development is
        committed towards the Society for more than a decade
        <ion-icon class="change" name="time"></ion-icon>. It is an outcome of
        efforts and initiatives taken by a few individuals <ion-icon class="man" name="man"></ion-icon>
        <ion-icon class="woman" name="woman"></ion-icon> who
        committed to serve the humanity.
      </h5>
    </ion-text>
  </p>

  <h2>We are <ion-text class="change"> THE CHANGE!!</ion-text><br> We will bring <ion-text class="change1">
      THE CHANGE!!</ion-text>
  </h2>
  <ion-col>
    <ion-router-link href="https://m.facebook.com/172624052802897/">
      <ion-text class="goto">
        Know more about us!...
        <ion-icon name="return-up-forward"></ion-icon>
      </ion-text>
    </ion-router-link>
  </ion-col>

  <ion-col>
    <ion-text class="footer">
      <h5>~Developed & Designed by : TechAssembler</h5>
    </ion-text>
  </ion-col>
</ion-content>