.lottie-cont {
    height: 50px;
}
.headeing-1 {
    color: green;
    text-align: justify;
}
.change {
    color: #720d5d;
}
.change1 {
    color: #5d1049;
}

.color1 {
    color: #484343;
}
.color2 {
    color: #008fb3;
}

.man {
    color: chocolate;
}
.woman {
    color: fuchsia;
}
.goto {
    color: green;
    font-weight: bold;
}
