.lottie-cont {
    height: 200px;
    margin-top: -10px;
    margin-bottom: -20px;
}
.padding30 {
    padding: 30px 30px 0;
    font-size: 20px;
    text-align: center;
}
.techassembler {
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}
.flex-al {
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    text-align: center;
}
.flex-al > span {
    width: 50%;
    padding: 5px;
    font-size: 17px;
}
.team-cont {
    padding: 16px;
    text-align: center;
}
.we {
    font-size: 20px;
}
.team {
    font-size: 18px;
    color: darkblue;
}
hr {
    border-width: 1px;
}
